.landing-main{

    margin-left:78px;
    margin-top:90px;

    padding:60px;

    min-height:calc(100vh - 90px);

    display:grid;

    grid-template-columns:500px 1fr;

    gap:80px;

    align-items:center;
     margin-bottom:120px;
}

.courses,
.leaderboard,
.community,
.profile{

    margin-left:78px;

    padding:80px 60px;

    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;

}
.hero,
.courses,
.leaderboard,
.community,
.profile{

    scroll-margin-top:110px;

}