@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#effaf4;
    font-family:bricolage grotesque, sans-serif;
}

