.hero-model{

    flex:1;

    display:flex;
    justify-content:center;
    align-items:center;

}

.model-container{

    width:600px;
    height:600px;

    display:flex;
    justify-content:center;
    align-items:center;

    /* Temporary while testing */
    /* background:red; */

}